@font-face
{
    font-family: 'Apple Garamond';
    font-style: normal;
    font-weight: 400;
    src: url( '../fonts/apple-garamond.ttf' ) format( 'truetype' );
}

@font-face
{
    font-family: 'Apple Garamond';
    font-style: normal;
    font-weight: 200;
    src: url( '../fonts/apple-garamond-light.ttf' ) format( 'truetype' );
}

@font-face
{
    font-family: 'Mortal Kombat 1';
    font-style: normal;
    font-weight: 400;
    src: url( '../fonts/mortal-kombat-1.ttf' ) format( 'truetype' );
}

@font-face
{
    font-family: 'Mortal Kombat 2';
    font-style: normal;
    font-weight: 400;
    src: url( '../fonts/mortal-kombat-2.ttf' ) format( 'truetype' );
}

@font-face
{
    font-family: 'Mortal Kombat 3';
    font-style: normal;
    font-weight: 400;
    src: url( '../fonts/mortal-kombat-3.ttf' ) format( 'truetype' );
}

@font-face
{
    font-family: 'Mortal Kombat 4';
    font-style: normal;
    font-weight: 400;
    src: url( '../fonts/mortal-kombat-4.ttf' ) format( 'truetype' );
}

@font-face
{
    font-family: 'Mortal Kombat 5';
    font-style: normal;
    font-weight: 400;
    src: url( '../fonts/mortal-kombat-5.ttf' ) format( 'truetype' );
}

@font-face
{
    font-family: 'MK Mythologies';
    font-style: normal;
    font-weight: 400;
    src: url( '../fonts/mk-mythologies.ttf' ) format( 'truetype' );
}