body
{
	-webkit-background-size: cover;
	background-color: black;
	background-repeat: no-repeat;
}

canvas
{
	box-sizing: border-box;
}

#font1 { font-family: 'Apple Garamond'; }
#font2 { font-family: 'MK Mythologies'; }