html
{
	width: 100%;
	height: 100%;
}

body
{
	background: red;
	background-image: url( '../images/advert-icade.jpg' );
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 24pt;
}

h1, h2, p
{
	display: none;
}

ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 0.8em;
	left: 50%;
	margin-left: -13.5em;
	position: absolute;
	text-align: center;
	top: 3em;
}

ul li
{
	float: left;
	margin: 0 1.5em;
}

ul li a
{
	background-repeat: none;
	background-size: contain;
	background-position: bottom center;
	border-radius: 1em;
	color: transparent;
	display: block;
	position: relative;
	text-decoration: none;
	height: 6em;
	width: 6em;
}

ul li a:before
{
	color: yellow;
	font-size: 0.9em;
	position: absolute;
	top: -1.5em;
	left: 0;
	text-shadow: 2pt 2pt 2pt black;
	white-space: nowrap;
}

#atari a { background-image: url( '../images/advert-atari-greatest-hits.png' ); }
#atari a:before { content: 'Atari\'s Greatest Hits'; left: -1.25em; }

#frogger a { background-image: url( '../images/advert-frogger-decades.png' ); }
#frogger a:before { content: 'Frogger Decades'; left: -0.5em; }

#midway a { background-image: url( '../images/advert-midway-arcade.png' ); }
#midway a:before { content: 'Midway Arcade'; left: -0.25em; }

#app-store
{
	position: absolute;
	bottom: 1em;
	right: 1em;
	width: 8em;
}