@import url( 'fonts.css' );

html
{
	height: 100%;
	width: 100%;
}

body
{
	background-image: url( '../images/classified-folder.jpg' );
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	margin: 0;
	padding-top: 36%;
	width: 100%;
}

body.alternate
{
	padding-top: 28%;
}

h1
{
	background-image: url('../images/classified-header.png' );
	background-repeat: no-repeat;
	background-size: contain;
	color: transparent;
	height: 17%;
	left: 10%;
	margin: 0;
	position: absolute;
	top: 6%;
	width: 80%;
}

.alternate h1
{
	background-image: url( '../images/classified-header-small.png' );
	height: 7%;
	left: 36%;
	top: 5%;
	width: 55%;
}

section
{
	color: black;
	float: left;
	font-family: 'Roboto';
	font-size: 0.8em;
	margin-bottom: 5%;
	margin-left: 8%;
	width: 43%;
}

section:nth-of-type( even )
{
	margin-left: 5%;
	width: 35%;
}

section h2
{
	color: #14A1DE;
	font-family: 'Alegreya Sans';
	font-size: 3em;
	margin: 0;
}

section h3
{
	color: #0007B4;
	font-size: 1.5em;
	margin: 0;
}

section h3:before
{
	background: red;
	content: '';
	display: inline-block;
	height: 1.25em;
	margin-right: 0.5em;
	vertical-align: bottom;
	width: 1.25em;
}

section p
{
	font-size: 1.5em;
	text-align: justify;
}

section figure
{
	display: inline-block;
	font-size: 1.25em;
	font-weight: bold;
	margin: 0;
	vertical-align: top;
	width: 45%;
}

section:nth-of-type( even ) figure
{
	width: 100%;
}

section figure:first-of-type
{
	margin-right: 2em;
}

section figure img
{
	height: auto;
	width: 100%;
}

#easy-mode img
{
	height: 3.4em;
	width: 45%;
}

#easy-mode img:first-of-type
{
	float: left;
	height: auto;
	margin-right: 5%;
	width: 50%;
}

#level-select img
{
	height: 3.4em;
	width: 45%;
}

#level-select img:first-of-type
{
	float: right;
	height: auto;
	width: 50%;
}

#system-1 figure img
{
	display: block;
	width: 60%;
}

#spamality
{
	margin-top: -10%;
}

#spamality figure
{
	width: 100%;
}

#spamality figure img
{
	width: 48%;
}

#spamality figure img:first-child
{
	margin-right: 2.5%;
}

#super-pong-kombat figure img
{
	width: 48%;
}

#super-pong-kombat figure img:first-child
{
	margin-right: 2.5%;
}

#god-mode
{
	margin-top: -22%;
}