@import url( 'fonts.css' );

html
{
	height: 100%;
	width: 100%;
}

body
{
	background-image: url( '../images/title-sketch.jpg' );
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 200% 100%;
	font-size: 24pt;
	height: 100%;
	margin: 0;
	width: 100%;
}

body#continued
{
	background-position: 100% 0;
}

h1
{
	display: none;
}

h2
{
	background: darkred;
	background: linear-gradient( 0deg,
		darkred 0%,
		darkred 30%,
		transparent 30%,
		transparent 36%,
		darkred 36%,
		darkred 64%,
		transparent 64%,
		transparent 70%,
		darkred 70%,
		darkred 100%
	);
	color: white;
	font-family: 'Droid Serif';
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.75em;
	margin-left: -9em;
	margin-top: 4em;
	padding-left: 9.5em;
	text-align: left;
	text-transform: uppercase;
	transform: rotate( -33deg );
	-webkit-transform: rotate( -33deg );
	white-space: nowrap;
}

section
{
	bottom: 2em;
	background: darkred;
	color: white;
	font-family: 'Roboto';
	font-size: 0.9em;
	font-weight: 300;
	padding: 1em;
	position: absolute;
	right: 2em;
	text-align: justify;
	width: 75%;
}

h3
{
	color: yellow;
	font-size: 1.25em;
	font-weight: 600;
	letter-spacing: 0.11em;
	margin-bottom: 0.5em;
	margin-top: 0;
}

p
{
	font-size: 0.9em;
	line-height: 1.5em;
	margin: 0;
}

a
{
	color: inherit;
	text-decoration: none;
}

em
{
	font-style: normal;
	font-weight: 400;
}