body, html
{
	/* Disable IE10 Touch manipulation actions */
	-ms-touch-action: none;
	
	background-color: black;
	height: 100%;
	margin: 0;
	overflow: hidden;
	width: 100%;
}

canvas
{
	background-color: black;
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
}

#loading
{
	color: white;
	display: block;
	font-family: Arial, sans-serif;
	font-size: 24px;
	height: 200px;
	left: 50%;
	line-height: 200px;
	margin-left: -100px;
	margin-top: -100px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 200px;
}

*
{
	/* Disable areas from user selections */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba( 0, 0, 0, 0.00 );
}