@import url( 'fonts.css' );

html, body
{
	height: 100%;
	margin: 0;
	width: 100%;
}

body
{
	background: black;
	color: white;
	font-family: 'Roboto';
	font-size: 24pt;
}

section
{
	background-repeat: no-repeat;
	background-size: cover;
	height: 50%;
	position: absolute;
	width: 100%;
}

section
{
	top: 0;
}

section:last-of-type
{
	top: 50%;
}

h1
{
	font-family: 'Alegreya Sans';
	font-size: 3em;
	margin: 0;
	text-transform: uppercase;
}

h2
{
	font-family: 'Apple Garamond';
	font-size: 3em;
	line-height: 0.75em;
	margin: 0;
	text-transform: uppercase;
}

section:first-of-type h2:before,
section:last-of-type h2:after
{
	content: 'Battle Zone';
	display: block;
	font-size: 0.6em;
	font-weight: 200;
}

section:first-of-type h2
{
	padding-left: calc( 1em / 3 );
	position: absolute;
	top: calc( 1em / 3 );
}

section:last-of-type h2
{
	bottom: calc( 1em / 3 );
	padding-left: calc( 1em / 3 );
	position: absolute;
}

p
{
	background: rgba( 0, 0, 0, 0.666 );
	box-sizing: border-box;
	font-size: 0.8em;
	padding: 1em;
	position: absolute;
	margin-left: 2.5%;
	width: 45%;
}

figure
{
	background: rgba( 0, 0, 0, 0.666 );
	box-sizing: border-box;
	padding: 0.5em;
	position: absolute;
	top: 33%;
	width: 40%;
}

figure img
{
	float: left;
	width: 100%;
}

figure:first-of-type
{
	left: 2.5%;
}

figure:last-of-type
{
	right: 2.5%;
}

.dismantle, .dynamics
{
	text-indent: 1.25em;
}

.dismantle:before,
.dynamics:before
{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	content: '';
	height: 2em;
	left: -0.5em;
	position: absolute;
	top: -0.5em;
	width: 2em;
}

.dismantle:before { background-image: url( '../images/icon-warning.png' ); }
.dynamics:before  { background-image: url( '../images/icon-information.png' ); }

.dismantle strong
{
	display: block;
}

.dismantle strong:after
{
	content: ' Dismantle';
}

#introduction { background-image: url( '../images/battle-zone-introduction.png' ); }
#default      { background-image: url( '../images/battle-zone-default.png' ); }
#forest       { background-image: url( '../images/battle-zone-forest.png' ); }
#hell         { background-image: url( '../images/battle-zone-hell.png' ); }
#highway      { background-image: url( '../images/battle-zone-highway.png' ); }
#ice-river    { background-image: url( '../images/battle-zone-ice-river.png' ); }
#pit          { background-image: url( '../images/battle-zone-pit.png' ); }
#portal       { background-image: url( '../images/battle-zone-portal.png' ); }
#storm        { background-image: url( '../images/battle-zone-storm.png' ); }
#tower        { background-image: url( '../images/battle-zone-tower.png' ); }
#toxic-pool   { background-image: url( '../images/battle-zone-toxic-pool.png' ); }
#watercolor   { background-image: url( '../images/battle-zone-watercolor.png' ); }

#introduction h1
{
	box-shadow: 0 9pt 15pt rgba( 0, 0, 0, 0.50 );
	background: green;
	color: white;
	font-size: 5em;
	font-weight: 900;
	letter-spacing: -7pt;
	position: absolute;
	text-align: center;
	text-shadow: 3pt 3pt 12pt rgba( 0, 0, 0, 0.33 );
	top: 15%;
	transform: skewY( -11deg );
	-webkit-transform: skewY( -11deg );
	width: 100%;
	z-index: 1;
}

#introduction p:last-of-type { left: 50%; top: 40%; }
#introduction .dynamics { left: 0%; top: 55%; }
#introduction .dismantle { left: 50%; top: 72.5%; }

#forest figure:first-of-type { left: 50%; top: 5%; }
#forest figure:last-of-type { top: 50%; }
#forest p:first-of-type { top: 25%; }
#forest .dynamics { top: 70%; }

#hell figure:first-of-type { top: 0%; }
#hell figure:last-of-type { top: 27%; }
#hell p:first-of-type { left: 1%; top: 42%; }
#hell .dismantle { left: 54%; top: 4%; width: 36%; }
#hell .dynamics { left: 48%; top: 70%; }

#highway figure:first-of-type { top: 57%; }
#highway p:first-of-type { left: 48%; top: 2%; }
#highway figure:last-of-type { top: 35%; }
#highway .dismantle { left: 1%; top: 35%; }

#ice-river .dismantle { left: 2%; top: 5%; }
#ice-river p:first-of-type { left: 48%; top: 55%; }
#ice-river figure:first-of-type { top: 30%; }
#ice-river figure:last-of-type { top: 10%; }

#pit p:first-of-type { left: 2%; top: 25%; }
#pit .dismantle { left: 48%; top: 62%; }
#pit figure:first-of-type { top: 52%; }
#pit figure:last-of-type { top: 15% }

#portal p:first-of-type { top: 42%; }
#portal .dynamics { left: 48%; }
#portal .dismantle { left: 48%; top: 75%; }
#portal figure:first-of-type { top: 0%; }
#portal figure:last-of-type { top: 31%; }

#storm p:first-of-type { left: 48%; top: 0%; }
#storm .dynamics { left: 48%; top: 60%; }
#storm .dismantle { top: 70%; }
#storm .dismantle strong { letter-spacing: -1px; }
#storm figure:first-of-type { top: 25%; }
#storm figure:last-of-type { top: 20%; }

#tower p:first-of-type { left: 1%; top: 43%; }
#tower .dynamics { left: 48%; top: 68%; }
#tower .dismantle { left: 48%; }
#tower figure:first-of-type { top: 2%; }
#tower figure:last-of-type { top: 23%; }

#toxic-pool p:first-of-type { left: 2%; top: 25%; }
#toxic-pool .dismantle { left: 48%; top: 65%; }
#toxic-pool figure:first-of-type { top: 55%; }
#toxic-pool figure:last-of-type { top: 25%; }

#watercolor p { left: 2%; top: 46%; }
#watercolor figure { top: 5%; }