@import url( 'fonts.css' );

html
{
	height: 100%;
	width: 100%;
}

body
{
	background-image: url( '../images/field-background.jpg' );
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 200% 100%;
	height: 100%;
	margin: 0;
	width: 100%;
}

body.alternate
{
	background-position: 100% 0;
}

h2
{
	display: none;
}

h1
{
	background-image: url( '../images/collect-a-balls.png' );
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: transparent;
	display: block;
	left: 1%;
	height: 18%;
	position: absolute;
	top: 3%;
	transform: rotate( -20deg );
	-webkit-transform: rotate( -20deg );
	width: 75%;
}

p
{
	box-sizing: border-box;
	color: white;
	font-family: 'Roboto';
	font-size: 1.4em;
	padding: 2em;
	position: absolute;
}

h2 + p
{
	left: 35%;
	text-align: justify;
	text-indent: 27%;
	top: 13%;
}

.alternate p:first-child
{
	left: 0%;
	text-align: justify;
	top: 0%;
	width: 64%;
}

.alternate p.fibonacci
{
	font-size: 1.75em;
	text-align: center;
	top: 12%;
	width: 64%;
}

.alternate p.fibonacci label
{
	display: block;
}

.alternate p:last-of-type
{
	top: 22%;
	width: 64%;
}

.ball-group
{
	position: absolute;
}

.ball-group label
{
	color: white;
	display: block;
	font-family: 'Roboto';
	font-size: 1.3em;
	text-align: center;
	text-transform: uppercase;
}

.ball
{
	color: transparent;
	white-space: nowrap;
}

#billiards-balls
{
	left: 6.5%;
	text-align: center;
	top: 33%;
	width: 28%;
}

#billiards-balls .ball
{
	background-image: url( '../images/balls-billiards.png' );
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 400% 400%;
	/*border-radius: 50%;*/
	display: inline-block;
	height: 5em;
	margin: 0.25em;
	width: 5em;
}

#billiards-balls .ball:nth-of-type(  1 ) { background-position:   0.00%   0.00%; }
#billiards-balls .ball:nth-of-type(  2 ) { background-position:  33.33%   0.00%; }
#billiards-balls .ball:nth-of-type(  3 ) { background-position:  66.67%   0.00%; }
#billiards-balls .ball:nth-of-type(  4 ) { background-position: 100.00%   0.00%; }
#billiards-balls .ball:nth-of-type(  5 ) { background-position:   0.00%  33.33%; }
#billiards-balls .ball:nth-of-type(  6 ) { background-position:  33.33%  33.33%; }
#billiards-balls .ball:nth-of-type(  7 ) { background-position:  66.67%  33.33%; }
#billiards-balls .ball:nth-of-type(  8 ) { background-position: 100.00%  33.33%; }
#billiards-balls .ball:nth-of-type(  9 ) { background-position:   0.00%  66.67%; }
#billiards-balls .ball:nth-of-type( 10 ) { background-position:  33.33%  66.67%; }
#billiards-balls .ball:nth-of-type( 11 ) { background-position:  66.67%  66.67%; }
#billiards-balls .ball:nth-of-type( 12 ) { background-position: 100.00%  66.67%; }
#billiards-balls .ball:nth-of-type( 13 ) { background-position:   0.00% 100.00%; }
#billiards-balls .ball:nth-of-type( 14 ) { background-position:  33.33% 100.00%; }
#billiards-balls .ball:nth-of-type( 15 ) { background-position:  66.67% 100.00%; }

#dice
{
	left: 6.5%;
	text-align: center;
	top: 66%;
	width: 28%;
}

#dice .ball
{
	background-image: url( '../images/balls-dice.png' );
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 400% 400%;
	display: inline-block;
	height: 5em;
	margin: 0.25em;
	width: 5em;
}

#dice .ball:nth-of-type(  1 ) { background-position:  33.33%  33.33%; }
#dice .ball:nth-of-type(  2 ) { background-position:   0.00%  33.33%; }
#dice .ball:nth-of-type(  3 ) { background-position: 100.00%   0.00%; }
#dice .ball:nth-of-type(  4 ) { background-position:  66.67%   0.00%; }
#dice .ball:nth-of-type(  5 ) { background-position:  33.33%   0.00%; }
#dice .ball:nth-of-type(  6 ) { background-position:   0.00%   0.00%; }
#dice .ball:nth-of-type(  7 ) { background-position: 100.00%  66.67%; transform: rotate( 90deg ); -webkit-transform: rotate( 90deg ); }
#dice .ball:nth-of-type(  8 ) { background-position:  66.67%  66.67%; transform: rotate( 90deg ); -webkit-transform: rotate( 90deg ); }
#dice .ball:nth-of-type(  9 ) { background-position:  33.33%  66.67%; transform: rotate( 90deg ); -webkit-transform: rotate( 90deg ); }
#dice .ball:nth-of-type( 10 ) { background-position:   0.00%  66.67%; transform: rotate( 90deg ); -webkit-transform: rotate( 90deg ); }
#dice .ball:nth-of-type( 11 ) { background-position: 100.00%  33.33%; transform: rotate( 90deg ); -webkit-transform: rotate( 90deg ); }
#dice .ball:nth-of-type( 12 ) { background-position:  66.67%  33.33%; transform: rotate( 90deg ); -webkit-transform: rotate( 90deg ); }
#dice .ball:nth-of-type( 13 ) { background-position:  33.33% 100.00%; }
#dice .ball:nth-of-type( 14 ) { background-position:   0.00% 100.00%; }

#eyes
{
	left: 49%;
	text-align: center;
	top: 83%;
	width: 36%;
}

#eyes .ball
{
	background-image: url( '../images/balls-faces.png' );
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 400% 400%;
	display: inline-block;
	height: 5em;
	margin: 0.25em;
	width: 5em;
}

#eyes .ball:nth-of-type(  1 ) { background-position:   0.00%   0.00%; }
#eyes .ball:nth-of-type(  2 ) { background-position:  33.33%   0.00%; }
#eyes .ball:nth-of-type(  3 ) { background-position:  66.67%   0.00%; }
#eyes .ball:nth-of-type(  4 ) { background-position: 100.00%   0.00%; }
#eyes .ball:nth-of-type(  5 ) { background-position:   0.00%  33.33%; }
#eyes .ball:nth-of-type(  6 ) { background-position:  33.33%  33.33%; }
#eyes .ball:nth-of-type(  7 ) { background-position:  66.67%  33.33%; }
#eyes .ball:nth-of-type(  8 ) { background-position: 100.00%  33.33%; }

#emoji
{
	left: 40%;
	text-align: center;
	top: 56%;
	width: 56%;
}

#emoji .ball
{
	background-image: url( '../images/balls-faces.png' );
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 400% 400%;
	display: inline-block;
	height: 5em;
	margin: 0.25em;
	width: 5em;
}

#emoji .ball:nth-of-type(  1 ) { background-position:   0.00%  66.67%; }
#emoji .ball:nth-of-type(  2 ) { background-position:  33.33%  66.67%; }
#emoji .ball:nth-of-type(  3 ) { background-position:  66.67%  66.67%; }
#emoji .ball:nth-of-type(  4 ) { background-position:   0.00% 100.00%; }
#emoji .ball:nth-of-type(  5 ) { background-position:  33.33% 100.00%; }
#emoji .ball:nth-of-type(  6 ) { background-position:  66.67% 100.00%; }

#food
{
	left: 37%;
	text-align: center;
	top: 66%;
	width: 60.5%;
}

#food .ball
{
	background-image: url( '../images/balls-food.png' );
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 400% 400%;
	display: inline-block;
	height: 5em;
	margin: 0.25em;
	width: 5em;
}

#food .ball:nth-of-type( 11 ) { background-position:   0.00%   0.00%; }
#food .ball:nth-of-type( 10 ) { background-position:  33.33%   0.00%; }
#food .ball:nth-of-type(  9 ) { background-position:  66.67%   0.00%; }
#food .ball:nth-of-type(  8 ) { background-position: 100.00%   0.00%; }
#food .ball:nth-of-type(  7 ) { background-position:   0.00%  33.33%; }
#food .ball:nth-of-type(  6 ) { background-position:  33.33%  33.33%; }
#food .ball:nth-of-type(  5 ) { background-position:  66.67%  33.33%; }
#food .ball:nth-of-type(  4 ) { background-position: 100.00%  33.33%; }
#food .ball:nth-of-type(  3 ) { background-position:   0.00%  66.67%; }
#food .ball:nth-of-type(  2 ) { background-position:  33.33%  66.67%; }
#food .ball:nth-of-type(  1 ) { background-position:  66.67%  66.67%; }

#sports
{
	left: 39%;
	text-align: center;
	top: 33%;
	width: 56%;
}

#sports .ball
{
	background-image: url( '../images/balls-sports.png' );
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 400% 400%;
	/*border-radius: 50%;*/
	display: inline-block;
	height: 5em;
	margin: 0.25em;
	width: 5em;
}

#sports .ball:nth-of-type(  1 ) { background-position:   0.00%   0.00%; }
#sports .ball:nth-of-type(  2 ) { background-position:  33.33%   0.00%; }
#sports .ball:nth-of-type(  3 ) { background-position:  66.67%   0.00%; }
#sports .ball:nth-of-type(  4 ) { background-position: 100.00%   0.00%; }

#sports .ball:nth-of-type(  5 ) { background-position: 100.00%  66.67%; }
#sports .ball:nth-of-type(  6 ) { background-position:  66.67%  66.67%; }

#sports .ball:nth-of-type(  7 ) { background-position:   0.00%  33.33%; }
#sports .ball:nth-of-type(  8 ) { background-position:  33.33%  33.33%; }
#sports .ball:nth-of-type(  9 ) { background-position:  66.67%  33.33%; }
#sports .ball:nth-of-type( 10 ) { background-position: 100.00%  33.33%; }

#sports .ball:nth-of-type( 11 ) { background-position:   0.00%  66.67%; }
#sports .ball:nth-of-type( 12 ) { background-position:  66.67% 100.00%; background-image: url( '../images/balls-dice.png' ); }

#sports .ball:nth-of-type( 13 ) { background-position:   0.00% 100.00%; }
#sports .ball:nth-of-type( 14 ) { background-position:  33.33% 100.00%; }
#sports .ball:nth-of-type( 15 ) { background-position:  66.67% 100.00%; }
#sports .ball:nth-of-type( 16 ) { background-position: 100.00% 100.00%; }

#sports .ball:nth-of-type( 17 ) { background-position:  33.33%  66.67%; }
#sports .ball:nth-of-type( 18 ) { background-position: 100.00% 100.00%; background-image: url( '../images/balls-dice.png' ); }
/*
#sports .ball:nth-of-type( 15 ) { background-position:   0.00%  66.67%; }
#sports .ball:nth-of-type( 17 ) { background-position:  66.67%  66.67%; }
#sports .ball:nth-of-type( 18 ) { background-position: 100.00%  66.67%; }
*/

#video-games
{
	left: 4%;
	text-align: center;
	top: 77%;
	width: 56%;
}

#video-games .ball
{
	background-image: url( '../images/balls-games.png' );
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 400% 400%;
	/*border-radius: 50%;*/
	display: inline-block;
	height: 5em;
	margin: 0.25em;
	width: 5em;
}

#video-games .ball:nth-of-type(  1 ) { background-position:  33.33%  66.67%; }
#video-games .ball:nth-of-type(  2 ) { background-position:  66.67%  66.67%; }
#video-games .ball:nth-of-type(  3 ) { background-position: 100.00%  66.67%; }
#video-games .ball:nth-of-type(  4 ) { background-position:   0.00% 100.00%; }
#video-games .ball:nth-of-type(  5 ) { background-position:  33.33% 100.00%; }
#video-games .ball:nth-of-type(  6 ) { background-position:  66.67% 100.00%; }
#video-games .ball:nth-of-type(  7 ) { background-position: 100.00% 100.00%; }
#video-games .ball:nth-of-type(  8 ) { background-position:   0.00%  33.33%; }
#video-games .ball:nth-of-type(  9 ) { background-position:  33.33%  33.33%; }
#video-games .ball:nth-of-type( 10 ) { background-position:  66.67%  33.33%; }
#video-games .ball:nth-of-type( 11 ) { background-position: 100.00%  33.33%; }
#video-games .ball:nth-of-type( 12 ) { background-position: 100.00%   0.00%; }

#video-games .ball:nth-of-type( 13 ) { background-position:   0.00%   0.00%; }
#video-games .ball:nth-of-type( 14 ) { background-position:  33.33%   0.00%; }
#video-games .ball:nth-of-type( 15 ) { background-position:  66.67%   0.00%; }
#video-games .ball:nth-of-type( 16 ) { background-position:   0.00%  66.67%; }

#marbles
{
	left: 66%;
	text-align: center;
	top: 18%;
	width: 34%;
}

#marbles .ball
{
	background-image: url( '../images/balls-marbles.png' );
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 400% 400%;
	/*border-radius: 50%;*/
	display: inline-block;
	height: 5em;
	margin: 0.25em;
	width: 5em;
}

#marbles .ball:nth-of-type(  1 ) { background-position:   0.00%   0.00%; }
#marbles .ball:nth-of-type(  2 ) { background-position:  33.33%   0.00%; }
#marbles .ball:nth-of-type(  3 ) { background-position:  66.67%   0.00%; }
#marbles .ball:nth-of-type(  4 ) { background-position:   0.00%  33.33%; }
#marbles .ball:nth-of-type(  5 ) { background-position:  33.33%  33.33%; }
#marbles .ball:nth-of-type(  6 ) { background-position:  66.67%  33.33%; }

#coins
{
	left: 69%;
	text-align: center;
	top: 42.5%;
	width: 19%;
}

#coins .ball
{
	background-image: url( '../images/balls-marbles.png' );
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 400% 400%;
	/*border-radius: 50%;*/
	display: inline-block;
	height: 5em;
	margin: 0.25em;
	width: 5em;
}

#coins .ball:nth-of-type(  1 ) { background-position: 100.00% 100.00%; }
#coins .ball:nth-of-type(  2 ) { background-position:  66.67% 100.00%; }
#coins .ball:nth-of-type(  3 ) { background-position:   0.00% 100.00%; }
#coins .ball:nth-of-type(  4 ) { background-position:  33.33% 100.00%; }

#logos
{
	left: 4%;
	text-align: center;
	top: 51.5%;
	width: 57%;
}

#logos .ball
{
	background-image: url( '../images/balls-logos.png' );
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 400% 400%;
	/*border-radius: 50%;*/
	display: inline-block;
	height: 5em;
	margin: 0.25em;
	width: 5em;
}

#logos .ball:nth-of-type(  1 ) { background-position:   0.00%   0.00%; }
#logos .ball:nth-of-type(  2 ) { background-position:  33.33%   0.00%; }
#logos .ball:nth-of-type(  3 ) { background-position:  66.67%   0.00%; }
#logos .ball:nth-of-type(  4 ) { background-position: 100.00%   0.00%; }
#logos .ball:nth-of-type(  5 ) { background-position:   0.00%  33.33%; }
#logos .ball:nth-of-type(  6 ) { background-position:  33.33%  33.33%; }
#logos .ball:nth-of-type(  7 ) { background-position:  66.67%  33.33%; }
#logos .ball:nth-of-type(  8 ) { background-position: 100.00%  33.33%; }
#logos .ball:nth-of-type(  9 ) { background-position:   0.00%  66.67%; }
#logos .ball:nth-of-type( 10 ) { background-position:  33.33%  66.67%; }
#logos .ball:nth-of-type( 11 ) { background-position:  66.67%  66.67%; }
#logos .ball:nth-of-type( 12 ) { background-position: 100.00%  66.67%; }
#logos .ball:nth-of-type( 13 ) { background-position:   0.00% 100.00%; }
#logos .ball:nth-of-type( 14 ) { background-position:  33.33% 100.00%; }
#logos .ball:nth-of-type( 15 ) { background-position:  66.67% 100.00%; }
#logos .ball:nth-of-type( 16 ) { background-position: 100.00% 100.00%; }

#others
{
	left: 66%;
	text-align: center;
	top: 65%;
	width: 34%;
}

#others .ball
{
	background-image: url( '../images/balls-others.png' );
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 400% 400%;
	/*border-radius: 50%;*/
	display: inline-block;
	height: 5em;
	margin: 0.25em;
	width: 5em;
}

#others .ball:nth-of-type(  1 ) { background-position:   0.00%   0.00%; }
#others .ball:nth-of-type(  2 ) { background-position:  33.33%   0.00%; }
#others .ball:nth-of-type(  3 ) { background-position:  66.67%   0.00%; }
#others .ball:nth-of-type(  4 ) { background-position: 100.00%   0.00%; }
#others .ball:nth-of-type(  5 ) { background-position:   0.00%  33.33%; }
#others .ball:nth-of-type(  6 ) { background-position:  33.33%  33.33%; }
#others .ball:nth-of-type(  7 ) { background-position:  66.67%  33.33%; }
#others .ball:nth-of-type(  8 ) { background-position: 100.00%  33.33%; }
#others .ball:nth-of-type(  9 ) { background-position:   0.00%  66.67%; }
#others .ball:nth-of-type( 10 ) { background-position:  33.33%  66.67%; }
#others .ball:nth-of-type( 11 ) { background-position:  66.67%  66.67%; }
#others .ball:nth-of-type( 12 ) { background-position: 100.00%  66.67%; }
#others .ball:nth-of-type( 13 ) { background-position:   0.00% 100.00%; }
#others .ball:nth-of-type( 14 ) { background-position:  33.33% 100.00%; }
#others .ball:nth-of-type( 15 ) { background-position: 100.00% 100.00%; }

#solar-system
{
	left: 3%;
	text-align: center;
	top: 34%;
	width: 57%;
}

#solar-system .ball
{
	background-image: url( '../images/balls-solar-system.png' );
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 400% 400%;
	/*border-radius: 50%;*/
	display: inline-block;
	height: 5em;
	margin: 0.25em;
	width: 5em;
}

#solar-system .ball:nth-of-type(  1 ) { background-position:   0.00%   0.00%; }
#solar-system .ball:nth-of-type(  2 ) { background-position:  33.33%   0.00%; }
#solar-system .ball:nth-of-type(  3 ) { background-position:  66.67%   0.00%; }
#solar-system .ball:nth-of-type(  4 ) { background-position: 100.00%   0.00%; }
#solar-system .ball:nth-of-type(  5 ) { background-position:   0.00%  33.33%; }
#solar-system .ball:nth-of-type(  6 ) { background-position:  33.33%  33.33%; }
#solar-system .ball:nth-of-type(  7 ) { background-position:  66.67%  33.33%; }
#solar-system .ball:nth-of-type(  8 ) { background-position: 100.00%  33.33%; }
#solar-system .ball:nth-of-type(  9 ) { background-position:   0.00%  66.67%; }
#solar-system .ball:nth-of-type( 10 ) { background-position:  33.33%  66.67%; }
#solar-system .ball:nth-of-type( 11 ) { background-position:  66.67%  66.67%; }
#solar-system .ball:nth-of-type( 12 ) { background-position: 100.00%  66.67%; }