@import url( 'fonts.css' );

html
{
	height: 100%;
	width: 100%;
}

body
{
	/*background-image: url( '../images/classified-folder.jpg' );*/
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#5F1E99), color-stop(100%,#6381D3));
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	margin: 0;
	padding-top: 36%;
	width: 100%;
}

h1
{
	background: red;
	border: solid 3pt black;
	box-shadow: 0 0 0em 0.25em white;
	color: white;
	font-family: 'Roboto';
	font-size: 4em;
	height: 9%;
	line-height: 2em;
	margin: 0;
	position: absolute;
	right: 4%;
	text-align: center;
	text-transform: uppercase;
	top: 3%;
	width: 40%;
}

img
{
	width: 100%;
}