<div class="fake-window" id="calculator">
	<h1>Calculator</h1>

	<div class="overflow-wrapper">
		<input id="display" readonly />
		<button id="clear">C</button>
		<button id="negate">&plusmn;</button>
		<button id="percent">&#37;</button>
		<button id="divide">&divide;</button>
		<button id="number7">7</button>
		<button id="number8">8</button>
		<button id="number9">9</button>
		<button id="multiply">&times;</button>
		<button id="number4">4</button>
		<button id="number5">5</button>
		<button id="number6">6</button>
		<button id="subtract">&minus;</button>
		<button id="number1">1</button>
		<button id="number2">2</button>
		<button id="number3">3</button>
		<button id="add">&plus;</button>
		<button id="number0">0</button>
		<button id="decimal">.</button>
		<button id="equate">&equals;</button>
	</div>
</div>