<ul id="menu">
	<li>
		Pacintosh
		<ul>
			<li id="pac_about">About Pong Kombat</li>
			<li class="ui-state-disabled">&nbsp;</li>
			<li id="pac_reload">Reload</li>
			<li id="pac_shutdown">Shutdown</li>
		</ul>
	</li>
	<li>
		File
		<ul>
			<li class="ui-state-disabled">New</li>
			<li class="ui-state-disabled">Open...</li>
			<li class="ui-state-disabled">Save...</li>
			<li class="ui-state-disabled">&nbsp;</li>
			<li id="file_print">Print</li>
			<li class="ui-state-disabled">&nbsp;</li>
			<li id="file_close">Close Window</li>
		</ul>
	</li>
	<li>
		Edit
		<ul>
			<li class="ui-state-disabled">Undo</li>
			<li class="ui-state-disabled">&nbsp;</li>
			<li class="ui-state-disabled">Cut</li>
			<li class="ui-state-disabled">Copy</li>
			<li class="ui-state-disabled">Paste</li>
		</ul>
	</li>
	<!--
	<li>
		Window
		<ul>
			<li id="window_maximize">Maximize</li>
			<li id="window_close">Close</li>
		</ul>
	</li>
	-->
</ul>