@font-face
{
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: url( '/fonts/Inconsolata/Inconsolata-Regular.ttf' ) format( 'truetype' );
}

@font-face
{
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 600;
	src: url( '/fonts/Inconsolata/Inconsolata-Bold.ttf' ) format( 'truetype' );
}

#font-inconsolata { font-family: 'Inconsolata'; }