@font-face
{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 200;
	src: url( '/fonts/Open_Sans/OpenSans-Light.ttf' ) format( 'truetype' );
}

@font-face
{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url( '/fonts/Open_Sans/OpenSans-Regular.ttf' ) format( 'truetype' );
}

@font-face
{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	src: url( '/fonts/Open_Sans/OpenSans-Semibold.ttf' ) format( 'truetype' );
}

@font-face
{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url( '/fonts/Open_Sans/OpenSans-Bold.ttf' ) format( 'truetype' );
}

@font-face
{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: url( '/fonts/Open_Sans/OpenSans-ExtraBold.ttf' ) format( 'truetype' );
}

#font-open-sans { font-family: 'Open Sans'; }