@font-face
{
	font-family: 'Mortal Kombat';
	font-style: normal;
	font-weight: 400;
	src: url( '/fonts/murdoink/mortalkombat1.ttf' ) format( 'truetype' );
}

@font-face
{
	font-family: 'Mortal Kombat II';
	font-style: normal;
	font-weight: 400;
	src: url( '/fonts/murdoink/mortalkombat2.ttf' ) format( 'truetype' );
}

@font-face
{
	font-family: 'Mortal Kombat 3';
	font-style: normal;
	font-weight: 400;
	src: url( '/fonts/murdoink/mortalkombat3.ttf' ) format( 'truetype' );
}

@font-face
{
	font-family: 'Mortal Kombat 4';
	font-style: normal;
	font-weight: 400;
	src: url( '/fonts/murdoink/mortalkombat4.ttf' ) format( 'truetype' );
}

@font-face
{
	font-family: 'Mortal Kombat X';
	font-style: normal;
	font-weight: 400;
	src: url( '/fonts/murdoink/mkx.ttf' ) format( 'truetype' );
}

@font-face
{
	font-family: 'MK Armageddon';
	font-style: normal;
	font-weight: 400;
	src: url( '/fonts/murdoink/mkarmageddon.ttf' ) format( 'truetype' );
}

@font-face
{
	font-family: 'MK Deadly Alliance';
	font-style: normal;
	font-weight: 400;
	src: url( '/fonts/murdoink/mortalkombat5.ttf' ) format( 'truetype' );
}

@font-face
{
	font-family: 'MK Deadly Alliance Title';
	font-style: normal;
	font-weight: 400;
	src: url( '/fonts/murdoink/murdoink.ttf' ) format( 'truetype' );
}

@font-face
{
	font-family: 'MK Mythologies';
	font-style: normal;
	font-weight: 400;
	src: url( '/fonts/murdoink/mortalkombatmythologies.ttf' ) format( 'truetype' );
}