<section id="press" data-ng-controller="PressController" data-scroll-position>
	<header>
		<h1>Pong Kombat</h1>
		<h2>Press Kit</h2>

		<p data-ng-hide="scrolled">Scroll&nbsp;down for information&nbsp;and&nbsp;media.</p>
	</header>

	<section>
		<h3>Fact Sheet</h3>

		<dl>
			<dt>Developer</dt>
			<dd>Jeff Jenkins</dd>

			<dt>Publisher</dt>
			<dd>
				<a href="http://www.quantastical.com">Quantastical.com</a>
			</dd>

			<dt>Release Date</dt>
			<dd>December 1st, 2014</dd>

			<dt><abbr title="Suggested Retail Price">MSRP</abbr></dt>
			<dd>Freeware!</dd>

			<dt>Genre</dt>
			<dd>Action</dd>

			<dt>Rating</dt>
			<dd>NR Not Yet Rated</dd>

			<dt>Contact</dt>
			<dd>
				<a href="mailto:jeff@pongkombat.com?subject=Press/Media Kit">jeff@pongkombat.com</a>
			</dd>

			<dt>Website</dt>
			<dd>
				<a href="http://www.pongkombat.com">PongKombat.com</a>
			</dd>

			<dt>Related Links</dt>
			<dd>
				<ul id="related">
					<li><a href="">GitHub</a></li>
					<li><a href="">Facebook</a></li>
					<li><a href="">Twitter</a></li>
					<li><a href="">Pinterest</a></li>
					<li><a href="">Developer Blog</a></li>
				</ul>
			</dd>
		</dl>
	</section>

	<section>
		<h3>Description</h3>

		<p>Back in 1994, Stefan Gagne and his cohorts created Pong Kombat--a parody video game and, what would eventually become, a series--featuring lovable characters <em>ahem</em> paddles that fought to the death in epic battles of Pong.</p>
		<p>The initial game was a school project, adding elements of Mortal Kombat to a Pong match, but it's simple and fun gameplay caused it to "go viral," quickly spawning off sequels, notoriously titled Pong Kombat 2 and Pong Kombat 3.</p>
		<p>
			Now, after two decades, White Paddle returns to the web in...Pong...Kombat...4?
			How 'bout, Pong Kombat XX? Or, Pong Kombat HD? PongKombat.com?
			Well, whatever it is called, PONG KOMBAT is back.
			Which paddle will you choose?
		</p>
	</section>

	<section id="features">
		<h3>Features</h3>

		<ul>
			<li>Play anywhere, anytime... responsive online entertainment</li>
			<li>Easy-to-learn, difficult-to-master gameplay mechanics</li>
			<li>Balanced characters with unique special moves and stories</li>
			<li>Animated finishing moves, "Dismantles"</li>
			<li>Fun physics: paddle english, special balls &amp; environments</li>
			<li>Stereo sound, including both left <em>and</em> right channels</li>
			<li>Single-player Tournament mode</li>
			<li>Free Play, pick-up-and-go mode</li>
			<li>Attract mode (not sure why)</li>
			<li>Video game parodies &amp; tributes</li>
			<li>Social integration for friendly competition</li>
			<li>Achievements, leaderboards and statistics</li>
			<li>Unlimited continues</li>
			<li>Lots of secrets and easter eggs</li>
		</ul>

		<h4>Pipe Dreams</h4>

		<ul>
			<li>More paddles, balls, levels, and secrets</li>
			<li>Gesture and joystick enabled controls</li>
			<li>Tournament Edition: Power-up pick-ups</li>
			<li>Paddle-2-Paddle: Multiplayer online challenge mode</li>
			<li>Create-A-Paddle: Customizable characters with moves and effects</li>
			<li>Paddle Battle: 1<abbr title="versus">v</abbr>2 (Handicap), 2<abbr title="versus">v</abbr>2 (Team), 4-Way (Battle)</li> 
			<li>Stereoscopic <abbr title="three-dimensional">3-D</abbr> graphics</li>
			<li>5.1+ surround sound</li>
			<li>Even <em>more</em> bullet points!</li>
		</ul>
	</section>

	<section id="history">
		<h3>History</h3>

		<p>
			Pong Kombat was originally developed by Stefan Gagne in 1994 as a school project.
			The purpose of this project is to follow the same principals that were employed in their initial release: <strong>learn something new and have fun doing it</strong>.
		</p>

		<figure>
			<img alt="Jeff, Frogger (1984)" src="/images/jeff-frogger-1984.jpg" />
			<figcaption>Jeff playing Frogger, 1984</figcaption>
		</figure>

		<p>
			Like most people born in and around the 1980's, Jeff (<a href="http://www.quantastical.com">Quantastical.com</a>) grew up enjoying video games and, at an early age, became interested in programming.
			Naturally, he explored and experimented with source code in QBASIC games like NIBBLES.BAT and GORILLA.BAT and even made some text-based adventures from scratch.
		</p>
		
		<p>
			Although never getting into the game industry, it has always been a passion, and a remake of Pong Kombat has been an interest since the early 2000s.
			It has remained a pet project, something that's been used to learn new languages, such as Java, Objective-C, or other 3rd party frameworks.
		</p>
		
		<blockquote>
			<p>
				As a web developer, I start with a blank canvas and try to tell someone else's story as vividly as I can.
				Pong Kombat is a great story that seems to have faded over the years.
				I want to ensure that it's legacy lives on, to give interested developers (and myself) an example to learn from, and to honor some of my favorite video game franchises.
			</p>
			<footer>
				- <cite><a href="http://www.quantastical.com">Jeff Jenkins</a></cite>
			</footer>
		</blockquote>
		
		<p>
			Now, after nearly five years of practice, the project is finally being realized, two decades after Gagne's original.
		</p>
	</section>

	<section id="media">
		<h3>Media</h3>

		<ul>
			<li>
				<a href="">More Videos</a>
				<figure>
					<img alt="Pong Kombat Title Screen" src="/screenshots/title-screen.jpg" />
					<figcaption>Official Trailer</figcaption>
				</figure>
			</li>
			<li id="screenshots">
				<a href="/screenshots">More Screenshots</a>
				<figure ng-show="activeScreenshot == 0">
					<img alt="Pong Kombat Title Screen" src="/screenshots/title-screen.jpg" ng-click="navigateScreenshots()" />
					<figcaption>This is a description.</figcaption>
				</figure>
				<figure ng-show="activeScreenshot == 1">
					<img alt="Pong Kombat Title Screen" src="/screenshots/title-screen.jpg" ng-click="navigateScreenshots()" />
					<figcaption>This is just a description.</figcaption>
				</figure>
				<figure ng-show="activeScreenshot == 2">
					<img alt="Pong Kombat Title Screen" src="/screenshots/title-screen.jpg" ng-click="navigateScreenshots()" />
					<figcaption>Yet another description is here.</figcaption>
				</figure>
				<figure ng-show="activeScreenshot == 3">
					<img alt="Pong Kombat Title Screen" src="/screenshots/title-screen.jpg" ng-click="navigateScreenshots()" />
					<figcaption>The description goes here.</figcaption>
				</figure>
			</li>
			<li>
				<a href="">More Music</a>
				<!--<embed></embed>-->
			</li>
		</ul>
	</section>

	<section id="artwork">
		<h3>Artwork</h3>

		<ul>
			<li>
				<figure>
					<img class="icon" alt="Pong Kombat Icon" src="/icons/pong-kombat-icon-1024.png" />
					<img class="icon" alt="Pong Kombat Dock Icon" src="/icons/pong-kombat-dock-1024.png" />
					<figcaption>Icon &amp; Dock Icon</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<img alt="Pong Kombat Logo" src="/images/pong-kombat-logo.png" />
					<figcaption>Logo</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<img class="icon" alt="Jeff Jenkins, Developer" src="/images/jeff-jenkins-2014.jpg" />
					<img class="icon" alt="Quantastical.com Logo" src="/images/quantastical-logo.png" />
					<img alt="Quantastical.com" src="/images/quantastical-domain.png" />
					<figcaption>Developer</figcaption>
				</figure>
			</li>
		</ul>
	</section>
</section>