@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Inconsolata/Inconsolata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Inconsolata/Inconsolata-Bold.ttf") format("truetype");
}
#font-inconsolata {
  font-family: 'Inconsolata';
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@-moz-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@-ms-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@-o-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
html {
  display: table;
  height: 100%;
  margin: 0 auto;
  max-width: 500pt;
  width: 100%;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: mediumblue;
  color: white;
  cursor: default;
  display: table-cell;
  font-family: 'Inconsolata';
  font-size: 12pt;
  height: 100%;
  text-align: center;
  padding: 25pt;
  transition: all 1s;
  vertical-align: middle;
}
body.red {
  background: firebrick;
}
body.green {
  background: green;
}
body.blue {
  background: mediumblue;
}
body.black {
  background: black;
}
@media print {
  body {
    background: white;
    color: black;
  }
}

p, ul {
  text-align: left;
}

h1 {
  background: silver;
  color: mediumblue;
  display: inline-block;
  padding: 2pt 8pt;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 1s;
}
h1.red {
  color: firebrick;
}
h1.green {
  color: green;
}
h1.blue {
  color: mediumblue;
}
h1.black {
  color: black;
}
@media print {
  h1 {
    -webkit-print-color-adjust: exact;
    background: black !important;
    color: white !important;
  }
}

a {
  color: inherit;
}

abbr {
  border-bottom: none;
}

nav p {
  margin: 3em 0 3em;
  text-align: center;
}
nav .cursor {
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -ms-animation-name: flash;
  -o-animation-name: flash;
  animation-name: flash;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 3.3s;
  -moz-animation-duration: 3.3s;
  -ms-animation-duration: 3.3s;
  -o-animation-duration: 3.3s;
  animation-duration: 3.3s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-timing-function: steps(1);
  -moz-animation-timing-function: steps(1);
  -ms-animation-timing-function: steps(1);
  -o-animation-timing-function: steps(1);
  animation-timing-function: steps(1);
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  border-bottom: 2pt solid white;
  display: inline-block;
  vertical-align: text-bottom;
  width: 0.8em;
}
nav a {
  border-bottom: solid 2pt transparent;
  display: inline-block;
}
nav a[data-hotkey] {
  text-decoration: none;
}
nav a[data-hotkey]:first-letter {
  border-bottom: solid 2pt white;
}
nav a[data-hotkey]:hover {
  border-bottom-color: white;
}
nav a[data-hotkey]:hover:first-letter {
  border-bottom: none;
}
@media print {
  nav a {
    border-bottom-color: transparent;
    color: black;
    display: block;
  }
  nav a:after {
    content: " [" attr(href) "]";
  }
  nav a#email:after {
    content: ' [jeff@pongkombat.com]';
  }
  nav a:first-letter {
    border-bottom-color: transparent;
  }
}
@media print {
  nav {
    color: transparent;
  }
}

#instructions li:not(.default) {
  display: none;
}
#instructions li#macintosh abbr {
  font-size: 0.8em;
  margin: 0.25em;
}
#instructions li strong {
  display: none;
}
#instructions.Android .default:last-of-type, #instructions.Blackberry .default:last-of-type, #instructions.iPad .default:last-of-type, #instructions.iPhone .default:last-of-type, #instructions.iPod .default:last-of-type {
  display: none;
}
#instructions.Android #mobile, #instructions.Blackberry #mobile, #instructions.iPad #mobile, #instructions.iPhone #mobile, #instructions.iPod #mobile {
  display: list-item;
}
#instructions.Linux .default:last-of-type, #instructions.Win .default:last-of-type {
  display: none;
}
#instructions.Linux #windows, #instructions.Win #windows {
  display: list-item;
}
#instructions.Mac .default:last-of-type {
  display: none;
}
#instructions.Mac #macintosh {
  display: list-item;
}

/*# sourceMappingURL=bsod.css.map */
