@font-face {
  font-family: 'Abnormal';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ABNORMAL/ABNORMAL.ttf") format("truetype");
}
@font-face {
  font-family: 'DOS';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/perfect_dos_vga_437/Perfect DOS VGA 437.ttf") format("truetype");
}
@font-face {
  font-family: 'Mortal Kombat';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/murdoink/mortalkombat1.ttf") format("truetype");
}
@font-face {
  font-family: 'Mortal Kombat II';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/murdoink/mortalkombat2.ttf") format("truetype");
}
@font-face {
  font-family: 'Mortal Kombat 3';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/murdoink/mortalkombat3.ttf") format("truetype");
}
@font-face {
  font-family: 'Mortal Kombat 4';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/murdoink/mortalkombat4.ttf") format("truetype");
}
@font-face {
  font-family: 'Mortal Kombat X';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/murdoink/mkx.ttf") format("truetype");
}
@font-face {
  font-family: 'MK Armageddon';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/murdoink/mkarmageddon.ttf") format("truetype");
}
@font-face {
  font-family: 'MK Deadly Alliance';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/murdoink/mortalkombat5.ttf") format("truetype");
}
@font-face {
  font-family: 'MK Deadly Alliance Title';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/murdoink/murdoink.ttf") format("truetype");
}
@font-face {
  font-family: 'MK Mythologies';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/murdoink/mortalkombatmythologies.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Open_Sans/OpenSans-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
}
@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@-moz-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@-ms-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@-o-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
@-moz-keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
@-ms-keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
@-o-keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@-moz-keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@-ms-keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@-o-keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@-webkit-keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
@-moz-keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
@-ms-keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
@-o-keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes flipOutY {
  0% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}
@-moz-keyframes flipOutY {
  0% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}
@-ms-keyframes flipOutY {
  0% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}
@-o-keyframes flipOutY {
  0% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}
@keyframes flipOutY {
  0% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-ms-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@media screen {
  #press {
    background: black;
    color: white;
    font-family: 'DOS';
    overflow: auto;
    padding: 8%;
    text-shadow: 1px 1px rgba(255, 0, 0, 0.75), -1px 1px rgba(0, 255, 0, 0.5), -1px -1px rgba(0, 0, 255, 0.75);
  }
  #press:before, #press:after {
    content: '';
    display: block;
    left: 0;
    height: 100%;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
  }
  #press:before {
    background-image: url("/images/backgrounds/scanlines.png");
    opacity: 0.33;
    z-index: 5;
  }
  #press:after {
    background-image: url("/images/arcade-monitor-4x.png");
    background-size: 100% 100%;
    opacity: 1;
    z-index: 10;
  }
  #press header {
    margin: 100vh 0 50%;
  }
  #press header h1 {
    border: 1pt solid white;
    box-shadow: 1px -1px rgba(255, 0, 0, 0.75), -1px 1px rgba(0, 255, 0, 0.5), -2px -1px rgba(0, 0, 255, 0.75);
    cursor: default;
    font-size: 4em;
    margin: 0 auto;
    max-width: 8em;
    padding: 0.25em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #press header h1:after {
    background: -webkit-linear-gradient(#ff0, #ff0, #fE0, #f80, #f20, #f00, #f00);
    box-sizing: border-box;
    content: 'PONG KOMBAT';
    height: 100%;
    padding: 0.25em 0;
    position: absolute;
    left: 0;
    text-shadow: none;
    top: 0;
    width: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media screen and (max-width: 500px) {
  #press header h1 {
    font-size: 2em;
  }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
  #press header h1 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  #press header h1 {
    font-size: 3em;
  }
}
@media screen {
  #press header h2 {
    color: #AFA;
    cursor: default;
    font-family: 'Mortal Kombat';
    text-align: center;
    text-transform: uppercase;
  }
  #press header p {
    bottom: 10%;
    box-sizing: border-box;
    cursor: default;
    font-size: 2em;
    left: 0;
    padding: 0 10%;
    position: fixed;
    text-align: center;
    transition: opacity 1s;
    width: 100%;
    -webkit-animation-name: flash;
    -moz-animation-name: flash;
    -ms-animation-name: flash;
    -o-animation-name: flash;
    animation-name: flash;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 3.3s;
    -moz-animation-duration: 3.3s;
    -ms-animation-duration: 3.3s;
    -o-animation-duration: 3.3s;
    animation-duration: 3.3s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  #press header p.ng-hide-add {
    display: block;
    opacity: 0;
  }
  #press header p.ng-hide {
    -webkit-animation: none;
    display: none;
    opacity: 0;
  }
}
@media screen and (max-width: 900px) {
  #press header p {
    font-size: 1.2em;
  }
}
@media screen {
  #press section {
    box-sizing: border-box;
    float: left;
    font-size: 1.1em;
    line-height: 1.15em;
    padding: 3em;
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  #press section {
    padding: 2em;
  }
}
@media screen and (max-width: 900px) {
  #press section {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  #press section:nth-of-type(odd) {
    padding-right: 1.5em;
    clear: left;
  }
  #press section:nth-of-type(even) {
    padding-left: 1.5em;
  }
}
@media screen {
  #press section h3 {
    color: #f66;
    font-family: 'Mortal Kombat';
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
  }
  #press section h3:before, #press section h3:after {
    content: '\25cf';
    font-size: 1.25em;
    margin: 0 0.33em;
  }
  #press section:nth-child(3) h3 {
    color: #6f6;
  }
  #press section:nth-child(4) h3 {
    color: #fb6;
  }
  #press section:nth-child(5) h3 {
    color: #ff6;
  }
  #press section:nth-child(6) h3 {
    color: #6ff;
  }
  #press section:nth-child(7) h3 {
    color: #f6f;
  }
  #press section h4 {
    font-weight: 400;
    text-transform: uppercase;
  }
  #press section a {
    color: #6464ff;
    text-decoration: none;
    text-shadow: 1px 1px rgba(255, 100, 100, 0.5);
  }
  #press section a:hover {
    border-bottom: solid 2pt #9664ff;
  }
  #press section dl dt:after {
    content: ':';
  }
  #press section dl dd {
    margin-bottom: 1em;
    margin-left: 0;
    text-align: right;
  }
}
@media screen and (min-width: 1200px), screen and (min-width: 600px) and (max-width: 900px) {
  #press section dl dt {
    float: left;
  }
}
@media screen {
  #press section dl #related {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #press section figure img {
    width: 100%;
  }
  #press section figure figcaption {
    font-family: 'Open Sans';
    font-size: 0.75em;
    text-align: right;
    text-transform: uppercase;
  }
  #press section blockquote {
    font-style: italic;
    font-weight: 200;
    margin: 2em 1em 1em;
    opacity: 0.5;
    position: relative;
    text-indent: 2em;
    text-shadow: 1px 1px red, -1px -2px green;
  }
  #press section blockquote:before {
    bottom: calc( 100% - 0.33em );
    content: '\2018\2018';
    font-family: 'MK Mythologies';
    font-size: 9em;
    font-style: normal;
    letter-spacing: -0.05em;
    position: absolute;
    right: calc( 100% - 0.15em );
  }
  #press section blockquote p {
    margin-bottom: 0;
  }
  #press section blockquote footer {
    font-style: normal;
    font-weight: 400;
    margin-top: 0.5em;
    text-indent: 0;
  }
  #press section blockquote footer cite {
    font-style: normal;
  }
  #press section#features h4:after {
    content: '...';
  }
  #press section#features ul li {
    margin-bottom: 1em;
  }
  #press section#history figure {
    margin: 0 auto;
    max-width: 300px;
  }
  #press section#media ul, #press section#artwork ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #press section#media ul li, #press section#artwork ul li {
    margin-bottom: 2em;
    text-align: center;
  }
  #press section#media .icon, #press section#artwork .icon {
    width: 40%;
  }
  #press section#media .icon:first-of-type, #press section#artwork .icon:first-of-type {
    border-radius: 20%;
  }
  #press section#media .icon + img:not(.icon), #press section#artwork .icon + img:not(.icon) {
    margin-top: 0.5em;
    width: 60%;
  }
}
@media screen {
  #teaser {
    background: black;
    cursor: default;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  #teaser header {
    background-attachment: fixed;
    background-image: url("../images/backgrounds/teaser-landscape.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
    display: block;
    height: 100%;
    -moz-transition: filter 1s;
    -o-transition: filter 1s;
    -webkit-transition: filter 1s;
    transition: filter 1s;
    width: 100%;
  }
}
@media screen and (orientation: portrait) {
  #teaser header {
    background-image: url("../images/backgrounds/teaser-portrait.jpg");
  }
}
@media screen {
  #teaser header h1 {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    bottom: 50%;
    margin: 0;
    position: fixed;
    text-align: center;
    width: 100%;
  }
  #teaser header h1 img {
    height: auto;
    max-width: 800px;
    width: 90%;
  }
  #teaser header h2 {
    -webkit-animation-name: flash;
    -moz-animation-name: flash;
    -ms-animation-name: flash;
    -o-animation-name: flash;
    animation-name: flash;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 3.3s;
    -moz-animation-duration: 3.3s;
    -ms-animation-duration: 3.3s;
    -o-animation-duration: 3.3s;
    animation-duration: 3.3s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    color: white;
    font-family: 'Mortal Kombat 3';
    font-size: 2.13em;
    height: 100%;
    opacity: 0;
    text-align: center;
    position: fixed;
    top: 60%;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  #teaser header h2 {
    font-size: 1.5em;
  }
}
@media screen {
  #teaser header.blur {
    -webkit-filter: blur(25px);
    filter: blur(25px);
  }
  #teaser header.blur h2 {
    -moz-animation: none;
    -webkit-animation: none;
    animation: none;
  }
  #teaser button {
    -webkit-animation-name: flipInY;
    -moz-animation-name: flipInY;
    -ms-animation-name: flipInY;
    -o-animation-name: flipInY;
    animation-name: flipInY;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration: 1.1s;
    -ms-animation-duration: 1.1s;
    -o-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    background: url("/icons/pong-kombat-icon-512.png");
    background-size: 100%;
    border: none;
    border-radius: 9pt;
    bottom: 11pt;
    color: transparent;
    cursor: pointer;
    height: 40pt;
    outline: none;
    position: absolute;
    right: 11pt;
    width: 40pt;
    z-index: 3;
  }
  #teaser button:after {
    -webkit-animation-name: zoomIn;
    -moz-animation-name: zoomIn;
    -ms-animation-name: zoomIn;
    -o-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration: 1.1s;
    -ms-animation-duration: 1.1s;
    -o-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    content: '!';
    background: red;
    border-radius: 8pt;
    color: white;
    font-family: 'MK Deadly Alliance';
    font-size: 13pt;
    font-weight: 600;
    height: 15pt;
    line-height: 15pt;
    position: absolute;
    right: -5pt;
    text-align: center;
    top: -5pt;
    width: 15pt;
  }
  #teaser #notifications {
    background-color: rgba(0, 0, 0, 0.666);
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transition: background-color 0.33s;
    width: 100%;
    z-index: 2;
  }
  #teaser #notifications h3 {
    -webkit-animation-name: flipInY;
    -moz-animation-name: flipInY;
    -ms-animation-name: flipInY;
    -o-animation-name: flipInY;
    animation-name: flipInY;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration: 1.1s;
    -ms-animation-duration: 1.1s;
    -o-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    background: white;
    border-radius: 60% 40% 60% 40%;
    color: black;
    font-family: 'Abnormal';
    font-size: 33px;
    left: calc( 50% - 3.75em );
    margin: 0;
    padding: 0.5em 0.25em;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 7em;
  }
}
@media screen and (orientation: portrait) and (max-width: 500px), screen and (orientation: landscape) and (max-height: 500px) {
  #teaser #notifications h3 {
    display: none;
  }
}
@media screen {
  #teaser #notifications ul {
    display: block;
    font-size: 0;
    left: 0;
    list-style: none;
    height: 326px;
    margin: -163px 0 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
  #teaser #notifications ul li {
    display: inline;
  }
  #teaser #notifications ul li:nth-child(1):after, #teaser #notifications ul li:nth-child(3):after {
    content: '	';
    display: block;
  }
  #teaser #notifications ul li:nth-child(1) a {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 0.33s;
    -moz-animation-duration: 0.33s;
    -ms-animation-duration: 0.33s;
    -o-animation-duration: 0.33s;
    animation-duration: 0.33s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    display: inline-block;
    transition-delay: 0.5s;
    transition-property: display 0s;
  }
  #teaser #notifications ul li:nth-child(2) a {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 0.33s;
    -moz-animation-duration: 0.33s;
    -ms-animation-duration: 0.33s;
    -o-animation-duration: 0.33s;
    animation-duration: 0.33s;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    display: inline-block;
    top: -30px;
    transition-delay: 0.4s;
    transition-property: display 0s;
  }
  #teaser #notifications ul li:nth-child(3) a {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 0.33s;
    -moz-animation-duration: 0.33s;
    -ms-animation-duration: 0.33s;
    -o-animation-duration: 0.33s;
    animation-duration: 0.33s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    display: inline-block;
    top: -30px;
    transition-delay: 0.3s;
    transition-property: display 0s;
  }
  #teaser #notifications ul li:nth-child(4) a {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 0.33s;
    -moz-animation-duration: 0.33s;
    -ms-animation-duration: 0.33s;
    -o-animation-duration: 0.33s;
    animation-duration: 0.33s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    display: inline-block;
    top: -60px;
    transition-delay: 0.2s;
    transition-property: display 0s;
  }
  #teaser #notifications ul li:nth-child(5) a {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 0.33s;
    -moz-animation-duration: 0.33s;
    -ms-animation-duration: 0.33s;
    -o-animation-duration: 0.33s;
    animation-duration: 0.33s;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    display: inline-block;
    top: -60px;
    transition-delay: 0.1s;
    transition-property: display 0s;
  }
  #teaser #notifications ul li:nth-child(6) a {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 0.33s;
    -moz-animation-duration: 0.33s;
    -ms-animation-duration: 0.33s;
    -o-animation-duration: 0.33s;
    animation-duration: 0.33s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    display: inline-block;
    top: -60px;
    transition-delay: 0s;
    transition-property: display 0s;
  }
  #teaser #notifications ul li a {
    display: inline-block;
    outline: none;
    position: relative;
  }
  #teaser #notifications ul li a:after {
    background-image: url("/images/queue.svg");
    background-size: 100%;
    content: ' ';
    display: none;
    left: calc( 50% - 128px / 2 );
    height: 128px;
    position: absolute;
    top: -75px;
    width: 128px;
  }
  #teaser #notifications ul li a:focus:after, #teaser #notifications ul li a:hover:after {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 0.11s;
    -moz-animation-duration: 0.11s;
    -ms-animation-duration: 0.11s;
    -o-animation-duration: 0.11s;
    animation-duration: 0.11s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    display: block;
  }
  #teaser #notifications ul li a, #teaser #notifications ul li img {
    height: 128px;
    width: 115px;
  }
  #teaser #notifications.ng-hide {
    background-color: transparent;
  }
  #teaser #notifications.ng-hide h3 {
    -webkit-animation-name: flipOutY;
    -moz-animation-name: flipOutY;
    -ms-animation-name: flipOutY;
    -o-animation-name: flipOutY;
    animation-name: flipOutY;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration: 1.1s;
    -ms-animation-duration: 1.1s;
    -o-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
  }
  #teaser #notifications.ng-hide ul li:nth-child(1) a {
    -webkit-animation-name: fadeOutDown;
    -moz-animation-name: fadeOutDown;
    -ms-animation-name: fadeOutDown;
    -o-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 0.11s;
    -moz-animation-duration: 0.11s;
    -ms-animation-duration: 0.11s;
    -o-animation-duration: 0.11s;
    animation-duration: 0.11s;
    -webkit-animation-delay: 0.16667s;
    -moz-animation-delay: 0.16667s;
    -ms-animation-delay: 0.16667s;
    -o-animation-delay: 0.16667s;
    animation-delay: 0.16667s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    display: none;
  }
  #teaser #notifications.ng-hide ul li:nth-child(2) a {
    -webkit-animation-name: fadeOutDown;
    -moz-animation-name: fadeOutDown;
    -ms-animation-name: fadeOutDown;
    -o-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 0.11s;
    -moz-animation-duration: 0.11s;
    -ms-animation-duration: 0.11s;
    -o-animation-duration: 0.11s;
    animation-duration: 0.11s;
    -webkit-animation-delay: 0.13333s;
    -moz-animation-delay: 0.13333s;
    -ms-animation-delay: 0.13333s;
    -o-animation-delay: 0.13333s;
    animation-delay: 0.13333s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    display: none;
  }
  #teaser #notifications.ng-hide ul li:nth-child(3) a {
    -webkit-animation-name: fadeOutDown;
    -moz-animation-name: fadeOutDown;
    -ms-animation-name: fadeOutDown;
    -o-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 0.11s;
    -moz-animation-duration: 0.11s;
    -ms-animation-duration: 0.11s;
    -o-animation-duration: 0.11s;
    animation-duration: 0.11s;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    display: none;
  }
  #teaser #notifications.ng-hide ul li:nth-child(4) a {
    -webkit-animation-name: fadeOutDown;
    -moz-animation-name: fadeOutDown;
    -ms-animation-name: fadeOutDown;
    -o-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 0.11s;
    -moz-animation-duration: 0.11s;
    -ms-animation-duration: 0.11s;
    -o-animation-duration: 0.11s;
    animation-duration: 0.11s;
    -webkit-animation-delay: 0.06667s;
    -moz-animation-delay: 0.06667s;
    -ms-animation-delay: 0.06667s;
    -o-animation-delay: 0.06667s;
    animation-delay: 0.06667s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    display: none;
  }
  #teaser #notifications.ng-hide ul li:nth-child(5) a {
    -webkit-animation-name: fadeOutDown;
    -moz-animation-name: fadeOutDown;
    -ms-animation-name: fadeOutDown;
    -o-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 0.11s;
    -moz-animation-duration: 0.11s;
    -ms-animation-duration: 0.11s;
    -o-animation-duration: 0.11s;
    animation-duration: 0.11s;
    -webkit-animation-delay: 0.03333s;
    -moz-animation-delay: 0.03333s;
    -ms-animation-delay: 0.03333s;
    -o-animation-delay: 0.03333s;
    animation-delay: 0.03333s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    display: none;
  }
  #teaser #notifications.ng-hide ul li:nth-child(6) a {
    -webkit-animation-name: fadeOutDown;
    -moz-animation-name: fadeOutDown;
    -ms-animation-name: fadeOutDown;
    -o-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
    -webkit-animation-iteration-count: 1s;
    -moz-animation-iteration-count: 1s;
    -ms-animation-iteration-count: 1s;
    -o-animation-iteration-count: 1s;
    animation-iteration-count: 1s;
    -webkit-animation-duration: 0.11s;
    -moz-animation-duration: 0.11s;
    -ms-animation-duration: 0.11s;
    -o-animation-duration: 0.11s;
    animation-duration: 0.11s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* animation */
    display: none;
  }
}
@media print {
  #teaser:before {
    color: black;
    content: 'PongKombat.com';
    display: block;
    font-family: 'Mortal Kombat';
    font-size: 1.75em;
    text-align: center;
    text-transform: uppercase;
  }
  #teaser header {
    text-align: center;
  }
  #teaser header:before {
    -webkit-print-color-adjust: exact;
    background-image: url("/images/qr-codes/pong-kombat.png");
    background-size: 100%;
    content: '';
    display: block;
    height: 13em;
    margin: 0 auto 6em;
    width: 13em;
  }
}
@media print and (orientation: landscape) {
  #teaser header:before {
    margin-bottom: 3em;
  }
}
@media print {
  #teaser h1:before {
    content: attr(data-print);
    font-size: 6.66em;
    text-transform: uppercase;
  }
  #teaser h1 img {
    display: none;
  }
  #teaser h2 {
    font-family: 'Mortal Kombat 1';
    font-size: 3.3em;
    letter-spacing: -1px;
  }
  #teaser h3 {
    font-family: 'Mortal Kombat 2';
    font-size: 2em;
    letter-spacing: -1px;
    margin: 0;
  }
  #teaser button {
    display: none;
  }
  #teaser #notifications {
    display: block !important;
    font-size: 1.5em;
    margin-top: 6em;
    text-align: center;
  }
  #teaser #notifications ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #teaser #notifications ul li {
    display: inline-block;
    margin: 1em 3em 3em;
  }
}
@media print and (orientation: landscape) {
  #teaser #notifications ul li {
    margin: 1em 2em 2em;
  }
}
@media print {
  #teaser #notifications ul li:nth-child(n + 4) {
    margin-top: 2em;
  }
  #teaser #notifications ul a {
    color: black;
    font-family: 'Mortal Kombat';
    text-decoration: none;
  }
  #teaser #notifications ul a:after {
    -webkit-print-color-adjust: exact;
    background-size: 100%;
    content: '';
    display: block;
    height: 8em;
    width: 8em;
  }
  #teaser #notifications ul a#email:after {
    background-image: url("/images/qr-codes/mailing-list.png");
  }
  #teaser #notifications ul a#github:after {
    background-image: url("/images/qr-codes/github.png");
  }
  #teaser #notifications ul a#pinterest:after {
    background-image: url("/images/qr-codes/pinterest.png");
  }
  #teaser #notifications ul a#facebook:after {
    background-image: url("/images/qr-codes/facebook.png");
  }
  #teaser #notifications ul a#twitter:after {
    background-image: url("/images/qr-codes/twitter.png");
  }
  #teaser #notifications ul a#wordpress:after {
    background-image: url("/images/qr-codes/wordpress.png");
  }
  #teaser #notifications ul a:before {
    display: block;
    text-transform: uppercase;
  }
  #teaser #notifications ul a#email:before {
    content: 'Mailing List';
  }
  #teaser #notifications ul a#github:before {
    content: 'GitHub';
  }
  #teaser #notifications ul a#pinterest:before {
    content: 'Pinterest';
  }
  #teaser #notifications ul a#facebook:before {
    content: 'Facebook';
  }
  #teaser #notifications ul a#twitter:before {
    content: 'Twitter';
  }
  #teaser #notifications ul a#wordpress:before {
    content: 'Dev Blog';
  }
  #teaser #notifications ul svg {
    display: none;
  }
}
@media screen {
  body, html {
    margin: 0;
  }
}
@media print {
  body {
    font-family: 'Apple Garamond';
    font-size: 7pt;
  }
}
@media print and (orientation: landscape) {
  body {
    font-size: 6pt;
  }
}

/*# sourceMappingURL=pong-kombat.css.map */
