<section id="demo" data-ng-controller="DemoController" ng-click="focusInput();">
	<style>
	body {background: black;}
	</style>

	<div id="console">
		<p>PONG KOMBAT DEMO</p>
		<p>
			The demo you are about to play was built in JavaScript from scratch.
			In this early build, only Keyboard controls are enabled and it has only been tested in Google Chrome.
		</p>
		<p>
			A lot of improvements will be made before the final version is complete.
			Check out the <a href="languages/README.en.txt" target="_blank">README</a> to learn more.
		</p>
		<p>
			To proceed, type "play demo" and press Enter/Return:
		</p>
		&nbsp;&gt;&nbsp;<input autofocus id="input" ng-keyup="handleConsole($event);" />
		<output id="output" />
	</div>

	<button id="social_toggle" ng-click="handleSocial()"></button>

	<div id="notifications" ng-show="toggle">
		<h3>{{ 'STAY_NOTIFIED' | translate }}</h3>

		<ul>
			<li>
				<a id="email" href="{{ 'URL.EMAIL.NOTIFICATIONS' | translate }}" ng-click="track('email')">
					<svg viewBox="0 0 115 128">
						<title>{{ 'EMAIL' | translate }}</title>
						<use xlink:href="/icons/queue-icons.svg#email"></use>
					</svg>
				</a>
			</li>
			<li>
				<a id="github" href="{{ 'URL.GITHUB' | translate }}" ng-click="track('github')">
					<svg viewBox="0 0 115 128">
						<title>{{ 'GITHUB' | translate }}</title>
						<use xlink:href="/icons/queue-icons.svg#github"></use>
					</svg>
				</a>
			</li>
			<li>
				<a id="pinterest" href="{{ 'URL.PINTEREST' | translate }}" ng-click="track('pinterest')">
					<svg viewBox="0 0 115 128">
						<title>{{ 'PINTEREST' | translate }}</title>
						<use xlink:href="/icons/queue-icons.svg#pinterest"></use>
					</svg>
				</a>
			</li>
			<li>
				<a id="facebook" href="{{ 'URL.FACEBOOK' | translate }}" ng-click="track('facebook')">
					<svg viewBox="0 0 115 128">
						<title>{{ 'FACEBOOK' | translate }}</title>
						<use xlink:href="/icons/queue-icons.svg#facebook"></use>
					</svg>
				</a>
			</li>
			<li>
				<a id="twitter" href="{{ 'URL.TWITTER' | translate }}" ng-click="track('twitter')">
					<svg viewBox="0 0 115 128">
						<title>{{ 'TWITTER' | translate }}</title>
						<use xlink:href="/icons/queue-icons.svg#twitter"></use>
					</svg>
				</a>
			</li>
			<li>
				<a id="wordpress" href="{{ 'URL.WORDPRESS' | translate }}" ng-click="track('wordpress')">
					<svg viewBox="0 0 115 128">
						<title>{{ 'WORDPRESS' | translate }}</title>
						<use xlink:href="/icons/queue-icons.svg#wordpress"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>

	<div id="font1">&nbsp;</div>
	<div id="font2">&nbsp;</div>
</section>