<!DOCTYPE html public "-//IETF//DTD HTML 2.0//EN">
<html lang="en">

	<head>
		<base href="/" />
		<title>{{title}} | 404 Not Found</title>

		<!-- General -->
		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="viewport" content="width=666" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-title" content="404 Not Found" />
		<link rel="author" href="humans.txt" />

		<!-- Semantics -->
		<meta name="keywords" content="{{keywords}}" />
		<meta name="description" content="The requested URL ({{url}}) was not found on this server." />

		<!-- Facebook -->
		<meta property="fb:app_id" content="{{facebookAppId}}" />
		<meta property="og:site_name" content="{{title}}" />
		<meta property="og:title" content="{{title}} | 404 Not Found" />
		<meta property="og:description" content="The requested URL ({{url}}) was not found on this server." />
		<meta property="og:url" content="{{url}}" />
		<meta property="og:image" content="/icons/bsod-icon-1024.png" />
		<meta property="og:type" content="website" />

		<!-- Twitter -->
		<meta name="twitter:title" content="{{title}} | 404 Not Found" />
		<meta name="twitter:description" content="The requested URL ({{url}}) was not found on this server." />
		<meta name="twitter:url" content="{{url}}" />
		<meta name="twitter:image:src" content="/icons/bsod-icon-1024.png" />

		<!-- Icons -->
		<link rel="icon" type="image/x-icon" href="/icons/bsod-icon.ico" />
		<link rel="apple-touch-icon" href="/icons/bsod-icon-180.png" />

		<!-- Styles -->
		<link rel="stylesheet" href="/styles/bsod.css" />
		<script defer src="/scripts/bsod.js"></script>
	</head>

	<body>
		<h1>404 Not Found</h1>

		<p>
			The requested <abbr title="Uniform Resource Locator">URL</abbr> ({{url}}) was not found on this server.
			You can wait to see if it becomes available again, or your can restart your computer.
		</p>

		<ul id="instructions">
			<li class="default">Send an e-mail to notify us and try it later.</li>
			<li id="windows">
				<strong>Microsoft Windows Users:</strong>
				Press <abbr title="Control">CTRL</abbr>+<abbr title="Alternate">Alt</abbr>+<abbr title="Delete">DEL</abbr> to restart your computer.
				You will lose unsaved information in any programs that are running.
			</li>
			<li id="macintosh">
				<strong>Apple Macintosh Users:</strong>
				Press <abbr title="Command">&#8984;</abbr>+<abbr title="Option">&#8997;</abbr>+<abbr title="Escape">&#9099;</abbr> to force quit the program.
				You will lose any unsaved information.
			</li>
			<li id="mobile">
				<strong>Mobile Users:</strong>
				Press and hold the power button for 5 seconds or until the device powers off.
				Then, restart your device.
				You will lose unsaved information in any apps that are running.
			</li>
			<li class="default">
				<strong>Other Users:</strong>
				Press and hold the power button for 5 seconds or until the computer powers off.
				Then, restart your computer.
				You will lose unsaved information in any programs that are running.
			</li>
		</ul>

		<nav>
			<p>
				Tap, click, or press a key to continue
				<span class="cursor"></span>
			</p>

			<a href="http://www.pongkombat.com">Pong Kombat</a>
			|
			<a href="http://www.facebook.com/pongkombat">Facebook</a>
			|
			<a href="http://www.twitter.com/pongkombat">Twitter</a>
			|
			<a id="email" href="mailto:jeff@pongkombat.com?subject=404%20Not%20Found%20({{url}})">E-mail</a>
		</nav>

		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-54926068-5', { 'cookieDomain': 'none' });
		ga('require', 'displayfeatures');
		ga('send', 'pageview');
		ga('send', 'event', '/404', window.location.pathname);
		</script> 
	</body>

</html>