<!DOCTYPE html public "-//IETF//DTD HTML 2.0//EN">
<html lang="en">

	<head>
		<base href="/" />
		<title>Index of {{directory}}</title>

		<!-- General -->
		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="viewport" content="width=420, maximum-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-title" content="Directory Index" />
		<link rel="author" href="humans.txt" />

		<!-- Semantics -->
		<meta name="keywords" content="{{keywords}}" />
		<meta name="description" content="Directory index of {{directory}}" />

		<!-- Facebook -->
		<meta property="fb:app_id" content="{{facebookAppId}}" />
		<meta property="og:site_name" content="{{title}}" />
		<meta property="og:title" content="{{title}} | Index of {{directory}}" />
		<meta property="og:description" content="Directory index of {{directory}}" />
		<meta property="og:url" content="{{directory}}" />
		<meta property="og:image" content="/icons/sys1-icon-1024.png" />
		<meta property="og:type" content="website" />

		<!-- Twitter -->
		<meta name="twitter:title" content="{{title}} | Index of {{directory}}" />
		<meta name="twitter:description" content="Directory index of {{directory}}" />
		<meta name="twitter:url" content="{{directory}}" />
		<meta name="twitter:image:src" content="/icons/sys1-icon-1024.png" />

		<!-- Icons -->
		<link rel="icon" type="image/x-icon" href="/icons/sys1-icon.ico" />
		<link rel="apple-touch-icon" href="/icons/sys1-icon-180.png" />

		<!-- Styles -->
		<link rel="stylesheet" href="/vendors/jquery-ui/themes/base/all.css" />
		<script src="/vendors/jquery/dist/jquery.js"></script>
		<script src="/vendors/jquery-ui/jquery-ui.js"></script>
		<script src="/vendors/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
		<script src="/vendors/datatables/media/js/jquery.dataTables.js"></script>
		<script src="/vendors/pagedown/Markdown.Converter.js"></script>
		<script src="/vendors/moment/moment.js"></script>
		<script src="/vendors/hammerjs/hammer.js"></script>
		<script src="/vendors/modernizr/modernizr.js"></script>
		<script src="/scripts/sys1.js"></script>
	</head>

	<body>
		<h1 data-directory="{{directory}}">Index of {{directory}}</h1>

		<code>
			<table cellpadding="0" width="100%">
				<thead>
					<tr>
						<td>
							<a href="{{directory}}?C=N&0={{sort.name}}">Name</a>
						</td>
						<td data-type="extension">
							<a href="{{directory}}?C=D&0={{sort.type}}">Type</a>
						</td>
						<td data-type="bytes">
							<a href="{{directory}}?C=S&0={{sort.size}}">Size</a>
						</td>
						<td data-type="timestamp">
							<a href="{{directory}}?C=M&0={{sort.time}}">Last Changed</a>
						</td>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="4">
							<hr />
						</td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<td colspan="4">
							<hr />
						</td>
					</tr>
				</tbody>
				<tbody>
{% for file in files %}
					<tr>
						<td>
							<a href="{{ directory + file.name }}">{{ file.name }}</a>
						</td>
						<td data-sort="{{ file.extension }}" data-type="extension">{{ file.extension }}</td>
						<td data-sort="{{ file.stat.size }}" data-type="bytes">{{ file.stat.size }}</td>
						<td data-sort="{{ file.stat.mtime.toISOString() }}" data-type="timestamp">{{ file.stat.mtime.toLocaleString('en-US') }}</td>
					</tr>
{% endfor %}
				</tbody>
			</table>
		</code>

		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-54926068-5', { 'cookieDomain': 'none' });
		ga('send', 'pageview');
		</script> 
	</body>

</html>
