@import 'fonts/abnormal';
@import 'fonts/apple-garamond';
@import 'fonts/dos';
@import 'fonts/mortal-kombat';
@import '../vendors/animate.scss/_properties';
@import '../vendors/animate.scss/_attention/_flash';
@import '../vendors/animate.scss/_fading-entrances/_fadeIn';
@import '../vendors/animate.scss/_fading-entrances/_fadeInDown';
@import '../vendors/animate.scss/_fading-exits/_fadeOutDown';
@import '../vendors/animate.scss/_flippers/_flipInY';
@import '../vendors/animate.scss/_flippers/_flipOutY';
@import '../vendors/animate.scss/_zooming-entrances/_zoomIn';

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin filter($filter) { 
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -ms-filter: $filter;
  -o-filter: $filter;
  filter: $filter;
}

@mixin animation($animation) { 
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

#demo
{
	background: black;
	box-sizing: border-box;
	left: 0;
	height: 100%;
	overflow: auto;
	padding: 1em;
	position: absolute;
	top: 0;
	width: 100%;

	canvas
	{
		background-color: rgb(135, 206, 235); /* Sky Blue */
		box-sizing: border-box;
		display: block;
		left: 50%;
		position: absolute;
		top: 50%;
	}

	#console
	{
		color: white;
		font-family: 'DOS';

		input, output
		{
			background: none;
			border: none;
			color: inherit;;
			display: inline-block;
			font-family: inherit;
			font-size: 1em;
			margin-bottom: 1em;
			outline: none;
			width: calc( 100% - 3em );
		}

		p
		{
			margin-bottom: 1em;
			margin-top: 0;
		}

		a
		{
			color: rgb(100,100,255);
			text-decoration: none;
			text-shadow: 1px 1px rgba(255,100,100,0.5);

			&:hover
			{
				border-bottom: solid 2pt rgb(150,100,255);
			}
		}
	}

	#loading
	{
		color: white;
		font-family: 'DOS';
		left: 0;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 100%;
	}

	button
	{
		@include flipInY( $delay: 1s, $duration: 1.1s ); /* animation */
		background: url( '/icons/pong-kombat-icon-512.png' );
		background-size: 100%;
		border: none;
		border-radius: 9pt;
		bottom: 11pt;
		color: transparent;
		cursor: pointer;
		height: 40pt;
		outline: none;
		position: absolute;
		right: 11pt;
		width: 40pt;
		z-index: 3;

		&:after
		{
			@include zoomIn( $delay: 3s, $duration: 1.1s ); /* animation */
			content: '!';
			background: red;
			border-radius: 8pt;
			color: white;
			font-family: 'MK Deadly Alliance';
			font-size: 13pt;
			font-weight: 600;
			height: 15pt;
			line-height: 18pt;
			position: absolute;
			right: -5pt;
			text-align: center;
			top: -5pt;
			width: 15pt;
		}
	}

	#notifications
	{
		background-color: rgba( 0, 0, 0, 0.666 );
		left: 0;
		height: 100%;
		position: absolute;
		top: 0;
		transition: background-color 0.33s;
		width: 100%;
		z-index: 2;

		h3
		{
			@include flipInY( $duration: 1.1s ); /* animation */
			background: white;
			border-radius: 60% 40% 60% 40%;
			color: black;
			font-family: 'Abnormal';
			font-size: 33px;
			left: calc( 50% - 3.75em );
			margin: 0;
			padding: 0.5em 0.25em;
			position: absolute;
			text-align: center;
			top: 10%;
			width: 7em;

			@media screen and (orientation: portrait) and (max-width: 500px), (orientation: landscape) and (max-height: 500px)
			{
				display: none;
			}
		}

		ul
		{
			display: block;
			font-size: 0;
			left: 0;
			list-style: none;
			height: 326px;
			margin: -163px 0 0;
			padding: 0;
			position: absolute;
			text-align: center;
			top: 50%;
			width: 100%;

			li
			{
				display: inline;

				&:nth-child( 1 ):after,
				&:nth-child( 3 ):after
				{
					content: '	';
					display: block;
				}

				@for $i from 1 through 6
				{
					&:nth-child( #{$i} ) a
					{
						@include fadeInDown( $delay: #{(6 - $i) / 10}s, $duration: 0.33s ); /* animation */
						display: inline-block;
						@if $i > 1 and $i <= 3 { top: -30px; }
						@if $i > 3 { top: -60px; }
						transition-delay: #{(6 - $i) / 10}s;
						transition-property: display 0s;
					}
				}

				a
				{
					display: inline-block;
					outline: none;
					position: relative;

					&:after
					{
						background-image: url( '/images/queue.svg' );
						background-size: 100%;
						content: ' ';
						display: none;
						left: calc( 50% - 128px / 2 );
						height: 128px;
						position: absolute;
						top: -75px;
						width: 128px;
					}

					&:focus:after,
					&:hover:after
					{
						@include fadeInDown( $duration: 0.11s ); /* animation */
						display: block;
					}
				}

				a, img
				{
					height: 128px;
					width: 115px;
				}
			}
		}

		&.hide
		{
			background-color: rgba( 0, 0, 0, 0 );
			display: none;

			h3
			{
				@include flipOutY( $duration: 1.1s ); /* animation */
			}

			ul
			{
				@for $i from 1 through 6
				{
					li:nth-child( #{$i} ) a
					{
						@include fadeOutDown( $delay: #{(6 - $i) / 30}s, $duration: 0.11s ); /* animation */
						display: none;
					}
				}
			}
		}
	}

	#font1 { font-family: 'Apple Garamond'; }
	#font2 { font-family: 'MK Mythologies'; }
}