@import 'fonts/abnormal';
@import 'fonts/apple-garamond';
@import 'fonts/mortal-kombat';
@import 'fonts/open-sans';
@import '../vendors/animate.scss/_properties';
@import '../vendors/animate.scss/_flippers/_flipInY';
@import '../vendors/animate.scss/_fading-entrances/_fadeInDown';

html, body
{
	background: black;
	color: white;
	cursor: default;
	font-size: 10px;
	margin: 0;

	@media all and (min-width: 600px) {
		font-size: 12px;
	}
}

abbr
{
	border: none;
	text-decoration: none;
}

h1
{
	background-image: url('/images/pong-kombat-logo-min.png');
	background-position: 50%;
	background-repeat: No-repeat;
	background-size: contain;
	color: transparent;
	font-family: 'Apple Garamond';
	font-size: 5em;
	font-weight: 400;
	margin: 0.33em 0 0.11em;
	text-align: center;
	text-transform: uppercase;
	user-select: none;
	-webkit-user-select: none;

	+ p
	{
		font-family: 'Open Sans';
		font-size: 1.25em;
		margin: 0 auto;
		text-align: center;
		user-select: none;
		-webkit-user-select: none;
		width: 28em;

		a
		{
			color: inherit;
			text-decoration: none;
		}
	}
}

nav
{
	background: #000000;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 25%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 25%, rgba(0,0,0,1) 100%);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 25%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 25%, rgba(0,0,0,1) 100%);
	bottom: 0;
	padding: 4em 0 2em;
	position: fixed;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	width: 100%;
	z-index: 2;

	a
	{
		background-size: 100%;
		border: none;
		border-radius: 9pt;
		color: transparent;
		cursor: pointer;
		display: inline-block;
		height: 40pt;
		margin: 0 1em;
		outline: none;
		position: relative;
		vertical-align: middle;
		width: 40pt;
		z-index: 3;
	
		&[href="#about"] { background-image: url('/images/icon-information-min.png'); }
		&[href="#instructions"] { background-image: url('/images/icon-controller-min.png'); }
		&[href="#notifications"] { background-image: url('/images/icon-pong-kombat-min.png'); }
	}
	
	a[href="#notifications"]:after
	{
		content: '!';
		background: red;
		border-radius: 8pt;
		color: white;
		font-family: 'Open Sans';
		font-size: 12pt;
		font-weight: 400;
		height: 15pt;
		line-height: 15pt;
		position: absolute;
		right: -5pt;
		text-align: center;
		top: -5pt;
		width: 15pt;
	}
}

a[href="/privacy"] {color: blue !important;}

a[href="/play"]
{
	background-image: url('/images/power-switch-min.png');
	background-position: 50% 26%;
	border-radius: 15px;
	background-size: 150% 380%;
	color: transparent;
	cursor: pointer;
	display: block;
	font-family: 'Georgia';
	font-size: 2.25em;
	font-weight: 600;
	height: 80px;
	left: 50%;
	margin: -40px -80px;
	position: absolute;
	text-decoration: none;
	top: 50%;
	text-indent: -42px;
	user-select: none;
	-webkit-user-select: none;
	white-space: nowrap;
	width: 160px;

	&:active, &.active
	{
		background-position: 50% 77.1%;
	}

	@media all and (min-width: 600px) {
		height: 120px;
		margin: -60px -120px;
		width: 240px;
	}
}

#warning
{
	color: #996666;
	font-family: 'Open Sans';
	font-size: 1em;
	margin-top: 5em;
	position: absolute;
	text-align: center;
	top: 50%;
	user-select: none;
	-webkit-user-select: none;
	width: 100%;

	@media all and (min-width: 600px) {
		margin-top: 6em;
	}

	h2
	{
		font-size: 1em;
		font-weight: 400;
		display: inline;

		&:after
		{
			content: ':';
		}
	}

	p
	{
		display: inline;
	}

	a
	{
		color: inherit;
		text-decoration: none;
	}
}

#about,
#instructions,
#notifications
{
	display: none;
	margin-top: 8em;
	position: absolute;
	top: 0;
	width: 100%;
}

#about
{
	background: #000000;
	font-family: 'Open Sans';
	font-size: 1.5em;
	line-height: 1.25em;
	padding-bottom: 5em;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	z-index: 1;

	div
	{
		box-sizing: border-box;
		display: inline-block;
		max-width: 40em;
		padding: 1em 2em;
		text-align: left;
		user-select: text;
		-webkit-user-select: text;
		vertical-align: top;
		width: calc(100% - 2em);
	}

	ol li
	{
		margin-bottom: 2em;
	}

	a
	{
		color: #A0A0FF;
		text-decoration: none;

		&:hover, &:active {
			color: #00F;
			text-decoration: underline;
		}
	}

	strong
	{
		font-weight: 500;
	}

	del {
		text-decoration: none;

		&:after {
			content: ' *ahem*';
			opacity: 0.5;
			font-style: italic;
		}
	}

	em {
		color: #00CC00;
		text-transform: uppercase;
	}

	p strong
	{
		color: #F90;
	}
}

#instructions
{
	background: #000000;
	font-family: 'Open Sans';
	font-size: 1.5em;
	padding: 0 0 5em;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;

	a
	{
		color: inherit;
		text-decoration: none;
	}

	div
	{
		box-sizing: border-box;
		display: inline-block;
		max-width: 40em;
		padding: 1em 2em;
		vertical-align: top;
		width: calc(100% - 2em);
	}

	figure
	{
		display: inline-block;
		margin: 0;
		max-width: 100%;
		width: 20em;

		img
		{
			width: 100%;
		}
	}

	table
	{
		margin: 1em auto;
		text-align: center;

		td
		{
			padding-bottom: 0.5em;
			padding-left: 0.5em;
			padding-right: 0.5em;
			padding-top: 0.5em;
			width: 50%;
		}

		caption
		{
			font-weight: 500;
			text-transform: uppercase;
		}
	}

	strong
	{
		font-weight: 500;
	}

	.keyboard .key
	{
		background-image: url('/images/keyboard-mac-min.png');
		background-size: 800% 800%;
		color: transparent;
		display: inline-block;
		height: 2.5em;
		vertical-align: middle;
		width: 2.5em;

		&.arrow {
			background-size: 800% 1600%;
			height: 1.25em;

			&.up { background-position: -700% -1200%; }
			&.down { background-position: -700% -1300%; }
			&.left { background-position: -700% -1400%; }
			&.right { background-position: -700% -1500%; }

			&:empty { opacity: 0.33; }
		}

		&.spacebar {
			background-position: 37.5% -600%;
			background-size: 200% 800%;
			width: 10em;
		}

		&.escape { background-position: -200% -300%; }

		&.enter {
			background-position: -407.5% -700%;
			background-size: 533.33% 800%;
			width: 3.75em;
		}

		&.delete {
			background-position: -407.5% -600%;
			background-size: 533.33% 800%;
			width: 3.75em;
		}

		&.shift {
			background-position: 58% -700%;
			background-size: 400% 800%;
			width: 5em;
		}

		&.w { background-position: -600% -200%; }
		&.a { background-position: 0 0; }
		&.s { background-position: -200% -200%; }
		&.d { background-position: -300% 0; }
	}

	#keyboard-2 {
		display: none;
	}
}

#notifications
{
	background-color: #000000;
	font-size: 1.5em;
	margin-top: 12em;
	min-height: calc(100% - 12em);
	padding-bottom: 8em;
	user-select: none;
	-webkit-user-select: none;
	width: 100%;
	z-index: 1;

	h2
	{
		@include flipInY( $duration: 1.1s ); /* animation */
		background: white;
		border-radius: 60% 40% 60% 40%;
		color: black;
		font-family: 'Abnormal';
		font-size: 33px;
		margin-bottom: 0;
		margin-left: calc( 50% - 3.75em );
		margin-top: 0;
		padding: 0.5em 0.25em;
		text-align: center;
		width: 7em;

		@media screen and (orientation: portrait) and (max-width: 500px), (orientation: landscape) and (max-height: 500px)
		{
			display: none;
		}
	}

	ul
	{
		display: block;
		font-size: 0;
		left: 0;
		list-style: none;
		height: 326px;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;

		li
		{
			display: inline;

			&:nth-child( 1 ):after,
			&:nth-child( 3 ):after
			{
				content: '	';
				display: block;
			}

			@for $i from 1 through 6
			{
				&:nth-child( #{$i} ) a
				{
					@include fadeInDown( $delay: #{(6 - $i) / 10}s, $duration: 0.33s ); /* animation */
					display: inline-block;
					@if $i > 1 and $i <= 3 { top: -30px; }
					@if $i > 3 { top: -60px; }
					transition-delay: #{(6 - $i) / 10}s;
					transition-property: display 0s;
				}
			}

			a
			{
				display: inline-block;
				outline: none;
				position: relative;

				&:after
				{
					background-image: url('/images/queue.svg');
					background-size: 100%;
					content: ' ';
					display: none;
					left: calc( 50% - 128px / 2 );
					height: 128px;
					position: absolute;
					top: -75px;
					width: 128px;
				}

				&:focus:after,
				&:hover:after
				{
					@include fadeInDown( $duration: 0.11s ); /* animation */
					display: block;
				}
			}

			a, img
			{
				height: 128px;
				width: 115px;
			}
		}
	}
}