@import 'fonts/abnormal';
@import 'fonts/anton';
@import 'fonts/dos';
@import 'fonts/mortal-kombat';
@import 'fonts/open-sans';
@import '../vendors/animate.scss/_properties';
@import '../vendors/animate.scss/_attention/_flash';
@import '../vendors/animate.scss/_fading-entrances/_fadeIn';
@import '../vendors/animate.scss/_fading-entrances/_fadeInDown';
@import '../vendors/animate.scss/_fading-exits/_fadeOutDown';
@import '../vendors/animate.scss/_fading-exits/_fadeOutUp';
@import '../vendors/animate.scss/_flippers/_flipInY';
@import '../vendors/animate.scss/_flippers/_flipOutY';
@import '../vendors/animate.scss/_zooming-entrances/_zoomIn';

$transitionable-prefixed-values : filter;

@media screen
{
	body, html
	{
		margin: 0;
	}
}

@media print
{
	body
	{
		font-family: 'Apple Garamond';
		font-size: 7pt;

		@media print and (orientation: landscape)
		{
			font-size: 6pt;
		}
	}
}

#play
{
	background: black;
	box-sizing: border-box;
	left: 0;
	height: 100%;
	overflow: auto;
	padding: 1em;
	position: absolute;
	top: 0;
	width: 100%;

	canvas
	{
		background-color: black;
		box-sizing: border-box;
		display: block;
		left: 50%;
		position: absolute;
		top: 50%;
	}
	
	#loading
	{
		color: white;
		font-family: 'DOS';
		left: 0;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 100%;
	}
}